<div class="text-left">
  <h2>Create Post</h2>
  <div class="form-group">
      <input class="form-input" id="post-title"/>
      <input class="form-input" id="post-content"/>
  </div>

    <form class="form add-post-form">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Post</button>
      </div>
    </form>

</div>

<script src="./js/dashboard.js"></script>
