<div class="text-left">
  <h2>Edit Post</h2>

<h3>Title</h3> 
<div class="input-group input-group-lg">
  <input type="text" class="form-control post-title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{title}}"/>
</div>

<h3>Content</h3>
<div class="input-group input-group-lg">
    
  <input type="text" class="form-control post-content" style="height: 300px;"aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{content}}"/>
  
    </div>

    <div class="text-center mt-4">
    <form class="form update-form">
      <div class="form-group">
        <button class="btn btn-primary w-25 p-3" type="submit" data-id="{{id}}">Update</button>
      </div>
    </form>
    

    <form class="form delete-form">
      <div class="form-group">
        <button class="btn btn-primary w-25 p-3" type="submit" data-id="{{id}}">Delete</button>
      </div>
    </form>
    </div>
</div>

<script src="/js/editpost.js"></script>
