<div class="row">
  <div class="col-md-6">
    <h3>Part of the Community? Login below!</h3>

    <form class="form login-form">
      <h5>Email:</h5> 
      <div class="input-group input-group-sm">
        <input type="text" class="form-control post-title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="email-login"/>
      </div>

      <h5>Password:</h5> 
      <div class="input-group input-group-sm">
        <input type="password" class="form-control post-title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="password-login"/>
      </div>

       <br>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>

  </div>
  
  <div class="col-md-6">
    <h3>Not a member? Signup below!</h3>

    <form class="form signup-form">
      <h5>Username:</h5> 
      <div class="input-group input-group-sm">
        <input type="text" class="form-control post-title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="username-signup"/>
      </div>

      <h5>Email:</h5> 
      <div class="input-group input-group-sm">
        <input type="text" class="form-control post-title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="email-signup"/>
      </div>

      <h5>Password:</h5> 
      <div class="input-group input-group-sm">
        <input type="password" class="form-control post-title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="password-signup"/>
      </div>

      <br>
    
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>

    </form>
  </div>
</div>

<script src="./js/login.js"></script>
